:root {
  --border-radius: 12px;
  --logo-color: #5D5D6D;
  --input-bg-color: #F3F5F6;
  --color-dark-one: #737380;
  --color-dark-two: #41414D;
  --color-dark-three: #09090A;
  --color-red-one: #DE3838;
  --page-bg-color: #F0F0F5;
  --color-orange-one: #FFA585;
  --color-gray-one: #DCE2E5;
  --color-gray-two: #617480;
  --color-bg-gray-btn: #E9E9F0;
  --color-blue-one: #115D8C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
